system/system/apex/com.android.vndk.current.apex
system/system/app/VivoThemeRes_T1/VivoThemeRes_T1.apk
system/system/app/VivoThemeRes/VivoThemeRes.apk
modem.img
vendor/camera3rd/sensetime
product/priv-app/Velvet/Velvet.apk
